# This is a basic workflow to help you get started with Actions

name: Testing a Variable

# Controls when the workflow will run
on:
  workflow_dispatch

env:
  cloud: Google-Cloud
  Greeting: Hello!
  Name: kaushik

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: print variables 
        run: echo " $Greeting $Name is using $cloud" 
